/* stylelint-disable */

/* These variables can be used to control values throughout the job board. */
:root {
    --colorNeutral800: #373e4d;
    --colorNeutral700: #545b6d;
    --colorNeutral600: #7d8699;
    --colorNeutral500: #a8aebd;
    --colorNeutral400: #c2c7d1;
    --colorNeutral300: #d7dae0;
    --colorNeutral200: #e5e6e8;
    --colorNeutral100: #f7f8fa;
    --colorNeutral000: #fff;
    --colorNeutral800A: rgb(0% 3.5% 11% / 78%);
    --colorNeutral700A: rgb(0% 4.0936% 14.62% / 67%);
    --colorNeutral600A: rgb(0% 6.9231% 21.538% / 51%);
    --colorNeutral500A: rgb(0% 6.8966% 24.138% / 34%);
    --colorNeutral400A: rgb(0% 8.1967% 24.59% / 24%);
    --colorNeutral300A: rgb(0% 7.5% 22.5% / 16%);
    --colorNeutral200A: rgb(0% 3.8462% 11.538% / 10%);
    --colorNeutral100A: rgb(0% 12.5% 37.5% / 3%);
    --colorNeutral000A: rgb(100% 100% 100% / 0%);
    --colorPrimary500A: rgb(7.82 0 234.47 / 13%);
    --colorSecondary900: hsl(322deg 65% 54.5%);
    --colorPrimary900: #0a1d66;
    --colorPrimary600: #2646cc;
    --colorNegative800: #891b1b;
    --colorNegative600: #dc3030;
    --colorNegative200: #fce8e8;
    --colorPositive800: #197729;
    --colorPositive600: #29b458;
    --colorPositive200: #eafcec;
    --colorWarning900: #5c4813;
    --colorWarning800: #8c6d1f;
    --colorWarning600: #f4ca64;
    --colorInfo100: hsl(206deg 100% 99.2%);
    --colorInfo200: hsl(210deg 100% 98%);
    --colorInfo300: hsl(209deg 100% 96.5%);
    --colorInfo400: hsl(210deg 98.8% 94%);
    --colorInfo500: hsl(209deg 95% 90.1%);
    --colorInfo600: hsl(209deg 81.2% 84.5%);
    --colorInfo700: hsl(208deg 77.5% 76.9%);
    --colorInfo800: hsl(206deg 81.9% 65.3%);
    --colorInfo900: hsl(206deg 100% 50%);
    --colorInfo1000: hsl(208deg 100% 47.3%);
    --colorInfo1100: hsl(211deg 100% 43.2%);
    --colorInfo1200: hsl(211deg 100% 15%);
    --colorNeutralShadow: rgb(28 26 51 / 25%);
    --colorPrimaryShadow: rgb(24 20 87 / 25%);
    --colorNeutral100Transparent: rgb(248 247 250 / 0%);
    --colorNeutral600Transparent: rgb(125 134 153 / 25%);
    --colorShadowPrimaryXLight: rgb(38 70 204 / 10%);
    --colorShadowPrimaryLight: rgb(38 70 204 / 20%);
    --widthMaxContent: 1024px;
    --widthMaxJobBoard: 720px;
    --widthMaxSubscriptionPreferences: 720px;
    --spacingXxxsmall: 2px;
    --spacingXxsmall: 4px;
    --spacingXsmall: 8px;
    --spacingSmall: 12px;
    --spacingNormal: 16px;
    --spacingLarge: 24px;
    --spacingXlarge: 32px;
    --spacingXxlarge: 48px;
    --spacingXxxlarge: 64px;
    --letterSpacingTight: -.01em;
    --letterSpacingWide: .04em;
    --letterSpacingXwide: .1em;
    --borderRadiusContainer: 6px;
    --borderRadiusControl: 10px;
    --borderRadiusButton: 25px;
    --borderRadiusCircle: 100%;
    --borderWidthThin: .5px;
    --borderWidthNormal: 1px;
    --borderWidthBold: 2px;
    --borderWidthHeavy: 3px;
    --scrollbarThickness: 8px;
    --meetingIntroOrganizerAvatarDim: 31.25vw;
    --meetingIntroOrganizerAvatarMaxDim: 250px;
    --meetingOverviewEventAttendeeAvatarDim: 30px;
    --fontFamily: "Whitney SSm", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica", "Arial", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji";
    --fontSizeXxxxlarge: 40px;
    --fontSizeXxxlarge: 30px;
    --fontSizeXxlarge: 24px;
    --fontSizeXlarge: 20px;
    --fontSizeLarge: 18px;
    --fontSizeNormal: 16px;
    --fontSizeSmall: 14px;
    --fontSizeXsmall: 12px;
    --fontSizeXxsmall: 10px;
    --fontWeightNormal: 400;
    --fontWeightLightBold: 500;
    --fontWeightMediumBold: 600;
    --fontWeightHeavyBold: 700;
    --lineHeightSingle: 1.15;
    --lineHeightTitle: 1.4;
    --lineHeightNormal: 1.5;
    --transitionDurationFast: .1s;
    --transitionDuration: .25s;
    --transitionDurationSlow: .6s;
    --transitionFunction: ease-in-out;
    --zContentBelow: -1;
    --zContent: 0;
    --zContentAbove: 1;
    --zContentXabove: 2;
    --zContentXxabove: 3;
    --zSelected: 4;
    --zNav: 5;
    --zOnHoverSelect: 6;
    --zModal: 7;
    --zToast: 8;
    --navMobileHeight: 75px;
    --navDesktopHeight: 100px;
    --fullScreenLoadingDesktopHeight: 500px;
    --fullScreenLoadingMobileHeight: 400px;
    --buttonLineHeight: 1;
    --calendarJewelDim: 4px;
    --calendarJewelSpacing: 4px;
    --selectIconDim: 16px;
    --checkboxAndRadioDim: 24px;
    --checkboxAndRadioCheckDim: 12px;
    --tabSliderHeight: 2px;
    --colorGray50: #f9f9f6;
    --colorGray100: #f1f2ea;
    --colorGray200: #e4e5dc;
    --colorGray300: #cfd0c8;
    --colorGray400: #9c9e94;
    --colorGray500: #82837c;
    --colorGray600: #686963;
    --colorGray700: #4e4e4b;
    --colorGray800: #343432;
    --colorGray900: #1a1a19;
    --colorGray950: #0d0d0c;
    --colorSolidGray1: #fcfcfc;
    --colorSolidGray2: #f9f9f9;
    --colorSolidGray3: #f0f0f0;
    --colorSolidGray4: #e8e8e8;
    --colorSolidGray5: #e0e0e0;
    --colorSolidGray6: #d9d9d9;
    --colorSolidGray7: #cecece;
    --colorSolidGray8: #bbbbbb;
    --colorSolidGray9: #8d8d8d;
    --colorSolidGray10: #838383;
    --colorSolidGray11: #646464;
    --colorSolidGray12: #202020;

    /*  Darker primary color
    WARNING - This can be set in the Ashby admin under theme settings!
    If you modify, you should make sure your colors work with the settings there. */
   /* --colorPrimary900: darkorange !important;

    /*  Lighter primary color
    WARNING - This can be set in the Ashby admin under theme settings!
    If you modify, you should make sure your colors work with the settings there. */
    /*--colorPrimary600: orange !important;*/


    /*  The max width of the job board container */
    --widthMaxJobBoard: 960px;

    /*  The max width of the application form section */
    /* --widthMaxJobBoard: 800px; */

    /*  Container border radius */
    --borderRadiusContainer: 0px;

    /*  Border radius of control elements (e.g. input boxes) */
    --borderRadiusControl: 0px;

    /*  Button border radius */
    --borderRadiusButton: 48px;

    /*  Font families */
    --fontFamily: "Inter", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Helvetica", "Arial", "Apple Color Emoji", "Segoe UI Emoji", sans-serif ;

    --colorAppBackground: #f7f8fa;
  }

/* Application autofill input's base layer element. This contains standard copy, a CTA button, and potential validation alerts. */
.ashby-application-form-autofill-input-base-layer {}

/* Application autofill input's description. */
.ashby-application-form-autofill-input-description {}

/* Application autofill input's drag state overlay element. Can style [data-state] which can be 'active' or 'hidden'. */
.ashby-application-form-autofill-input-drag-layer {}

/* Application autofill input form's alert element. Can style [data-highlight] which can be 'negative' or 'positive'. */
.ashby-application-form-autofill-input-form-alert {}

/* Application autofill input's magic sparkles icon. */
.ashby-application-form-autofill-input-icon {}

/* Application autofill input's pending state overlay element. Can style [data-state] which can be 'active' or 'hidden'.
.ashby-application-form-autofill-input-pending-layer {}

/* Application autofill input's root element. Can style [data-state] which can be 'pending', 'drag', or 'default'. */
.ashby-application-form-autofill-input-root {}

/* Application autofill input's title. */
.ashby-application-form-autofill-input-title {}

/* Container element for application autofill input form. */
.ashby-application-form-autofill-pane {}

/* The resume uploader to auto-fill the application form */
.ashby-application-form-autofill-uploader {}

/* A container for displaying the custom message to the user */
.ashby-application-form-blocked-application-container {}

/* A container for the application form. */
.ashby-application-form-container {}

/* A container for the failure message */
.ashby-application-form-failure-container {}

/* A container for the label and input on an application form. */
.ashby-application-form-field-entry {}

/* The description of each question on an application form. Will only show if a description is specified. */
.ashby-application-form-question-description {}

/* The title of each question on an application form. */
.ashby-application-form-question-title {}

/* A single section on the Ashby application form. All questions will be wrapped in sections, though the default section may not have a title. */
.ashby-application-form-section-container {}

/* The header for an application form section, possibly containing a title and description. */
.ashby-application-form-section-header {}

/* The description for an application form section. May not exist if no description was specified. */
.ashby-application-form-section-header-description {}

/* The title for an application form section. May not exist for the default section. */
.ashby-application-form-section-header-title {}

/* The application submission button. Will have loading and hover states that should be tested. */
.ashby-application-form-submit-button {}

/* A container for the success message */
.ashby-application-form-success-container {}

/* The text message consent description. Displayed below phone number fields. Will only show if texting is enabled. */
.ashby-application-form-texting-consent-description {}

/* The heading of a department, which can have many teams under it. */
.ashby-department-heading {
  font-family: Besley, serif, sans-serif;
  font-weight: var(--fontWeightNormal);
  font-size: var(--fontSizeXlarge);
  color: var(--colorGray900);
  margin-left: 0px;
  display: inline;
}


/* The heading of a single team. */
.ashby-department-heading-level {}

/* The button which allows users to navigate from an individual posting back to the list of all job postings. */
.ashby-job-board-back-to-all-jobs-button {}

/* A select box element for filtering the job board. */
.ashby-job-board-filter {}

/* The 'Filters' label element in the job board. */
.ashby-job-board-filters-label {}

/* The heading of the entire job board. */
.ashby-job-board-heading {
  font-family: Besley, serif, sans-serif;
  font-weight: var(--fontWeightNormal);
  font-size: var(--fontSizeXxlarge);
}

/* The count of job postings on the job board. */
.ashby-job-board-heading-count {}

/* The 'Reset filters' label element in the job board. The reset filters label element in the job board. */
.ashby-job-board-reset-filters-label {}

/* The container of the job posting details pane. */
.ashby-job-posting-brief {
  padding: 32px 0px;
  background-color: transparent;
  transition: background-color 0.3s ease;
  margin-left: 0px;
  border-radius: 8px;
  border: 1px solid var(--colorGray200);
}
.ashby-job-posting-brief:last-child {
  border-bottom: 0px solid var(--colorGray200);
}
.ashby-job-posting-brief:hover {
  background-color: var(--colorNeutral100A);
}


/* The heading of a department name. Departments group teams. */
.ashby-job-posting-brief-department-heading {}

/* The heading of a single team. */
.ashby-job-posting-brief-department-heading-level {}

/* The container for the details of the job posting, in the details pane. */
.ashby-job-posting-brief-details {
  color: var(--colorGray600);
}

/* The container for the list of job post briefings. */
.ashby-job-posting-brief-list {}

/* The title of the job posting in the details pane. */
.ashby-job-posting-brief-title {
  color: var(--colorGray900);
  font-size: var(--fontSizeLarge);
  font-weight: var(--fontWeightLightBold);
}

/* The main header on the job posting page */
.ashby-job-posting-header {}

/* The heading of a job post */
.ashby-job-posting-heading {}

/* The left pane of the job posting, with the job posting details */
.ashby-job-posting-left-pane {}

/* The right pane of the job posting, containing the tabs, overview, and application form */
.ashby-job-posting-right-pane {}

/* The application tab in the right pane of the job posting */
.ashby-job-posting-right-pane-application-tab {}

/* The overview tab in the right pane of the job posting */
.ashby-job-posting-right-pane-overview-tab {}

/* The tabs slider in the right pane of the job posting */
.ashby-job-posting-right-pane-tab-slider {}

/* A container for any surveys specified for this application form. */
.ashby-survey-form-container {}





/* CUSTOM STYLES */
._titles_ud4nd_34 {
  margin: 0px;
}
._content_ud4nd_71 {
  padding: 0px;
}